.prose {
  :global(.responsive-table) {
    width: 100%;
    overflow-x: auto;
  }

  :global(a.redLink) {
    color: #ef5353;
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    position: relative;

    a::before {
      position: absolute;
      content: "#";
      right: 0;
      opacity: 0.9;
    }
  }
}
