.prose {
  // todo: do this better without :global
  :global {
    .responsive-table {
      width: 100%;
      overflow-x: auto;
    }

    a.redLink {
      color: #ef5353;
    }

    div.gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;

      margin: 2rem 0;

      & > figure {
        flex: 1 1 250px;
        margin: 0;
      }
    }
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    position: relative;

    a::before {
      position: absolute;
      content: "#";
      right: 0;
      opacity: 0.9;
    }
  }

  ruby {
    rt {
      font-size: 80%;
      opacity: 60%;
      letter-spacing: 0.15em;
      font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
    }
  }
}
