.prose {
  // todo: do this better without :global
  :global {
    .responsive-table {
      width: 100%;
      overflow-x: auto;
    }

    a.redLink {
      color: #ef5353;
    }

    .gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      margin: 2rem 0;

      & > * {
        flex: 1 1 200px;
        margin: 0;

        overflow: hidden;
        border-radius: 0.5rem;
        min-height: 8rem;
      }

      img {
        object-fit: cover;
        transform: scale(1.05);
        transition: transform 0.5s;
        &:hover {
          transform: scale(1);
        }
      }
    }
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    position: relative;

    a::before {
      position: absolute;
      content: "#";
      right: 0;
      opacity: 0.9;
    }
  }

  ruby {
    rt {
      font-size: 80%;
      opacity: 60%;
      letter-spacing: 0.15em;
      font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
    }
  }
}
